.page.theme_light {
  --accent-color: #353430;
  --hover-color: #32312D66;
  --additional-title-color: #ff8dcb;
  --additional-accent-color: #ffc2e6;
  --background-color: #fff1f7;
  --primary-color: #353430;
  --title-decor-background: #ff8dcb;
  --text-color: #353430;
  --display-rec: none;
  background-image: url(../images/cover-image-light.png);
}

@media (min-width: 1024px) {
  .page.theme_light {
    --additional-title-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --hover-color: #32312D66;
    --additional-title-color: #ff8dcb;
    --additional-accent-color: #ffc2e6;
    --background-color: #fff1f7;
    --primary-color: #353430;
    --title-decor-background: #ff8dcb;
    --text-color: #353430;
    --display-rec: none;
    }

  .page {
    background-image: url(../images/cover-image-light.png);
  }
}
